{{#if attack}}
<div class="chat-attack-info">
    <div class="attack-name">{{attack.name}}</div>
    <div class="attack-perks">{{printPerks attack true}}</div>
    <div class="attack-spell-effect">{{attack.data.effectName}} {{signedValue attack.data.effectLevel}}</div>
    <div class="attack-description">{{{attack.data.description}}}</div>
</div>
{{/if}}
{{#if item.perks}}
<div class="inline-perks">{{printPerks item}}</div>
{{/if}}
<div class="msg-roll-info">
    {{#if item.abilities}}
    <div class="roll-abilities" style="display: none;">
        {{#each item.abilities as |ability|}}
        <div class="roll-ability">{{abilitySign ability.data}}{{ability.data.data.level.value}} {{ability.name}}</div>
        {{/each}}
    </div>
    {{/if}}
    {{#if rollData}}
    <div class="msg-roll-data">
        <div class="roll">
            <span class="roll-data-name">{{ localize 'OVA.Roll.Short' }}: </span>
            <span class="roll-data-value">{{ rollData.roll }}</span>
        </div>
        {{#if rollData.dx}}
        <div class="dx">
            <span class="roll-data-name">{{ localize 'OVA.DX.Short' }}: </span>
            <span class="roll-data-value">{{ rollData.dx }}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
</div>
{{{rollResults}}}
<div class="roll-result-math"></div>
<div class="attack-buttons ova">
    <button class="hidden damage-color" data-action="apply-damage">{{localize "OVA.ApplyDamage"}}</button>
    <button class="hidden damage-color" data-action="take-damage">{{localize "OVA.DamageSelf"}}</button>
    <button class="hidden effect-color" data-action="apply-effect">{{localize "OVA.ApplyEffect"}}</button>
    <button class="hidden heal-color" data-action="apply-heal">{{localize "OVA.ApplyHeal"}}</button>
</div>