{{#if attack}}
<div class="chat-attack-info">
    <div class="attack-name">{{attack.name}}</div>
    <div class="attack-perks">{{printPerks attack true}}</div>
    <div class="attack-spell-effect">{{attack.data.effectName}} {{signedValue attack.data.effectLevel}}</div>
    <div class="attack-description">{{{attack.data.description}}}</div>
</div>
{{/if}}
{{{rollResults}}}
<div class="attack-buttons">
    <button class="hidden damage-color" data-action="apply-damage">{{localize "OVA.ApplyDamage"}}</button>
    <button class="hidden" data-action="apply-effect">{{localize "OVA.ApplyEffect"}}</button>
    <button class="hidden heal-color" data-action="apply-heal">{{localize "OVA.ApplyHeal"}}</button>
</div>