<form>
    {{#if effects.self.length}}
    <div class="form-group"></div>
    <h2>{{localize 'OVA.ApplyDamageDialog.ApplySelf'}}</h2>
    <table>
        <thead>
            <tr>
                <th>{{localize 'OVA.Active'}}</th>
                <th>{{localize 'OVA.Effect'}}</th>
                <th>{{localize 'OVA.Duration.Rounds'}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each effects.self as |effect|}}
            <tr>
                <td>
                    <input type="checkbox" class="effect-active" data-effect-type="self" data-effect-index="{{@index}}"
                        data-dtype="Boolean" {{checked effect.active}} />
                </td>
                <td>{{>"systems/ova/templates/parts/effect-inline-desc.html" effect=effect}}</td>
                <td>
                    {{#if (not effect.flags.once)}}
                    <input class="effect-duration flex0" type="text" id="duration" data-effect-type="self"
                        data-effect-index="{{@index}}" data-dtype="Number" value="{{effect.duration.rounds}}" />
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}

    {{#if effects.target.length}}
    <h2>{{localize 'OVA.ApplyDamageDialog.ApplyTarget'}}</h2>
    <table>
        <thead>
            <tr>
                <th>{{localize 'OVA.Active'}}</th>
                <th>{{localize 'OVA.Effect'}}</th>
                <th>{{localize 'OVA.Duration.Rounds'}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each effects.target as |effect|}}
            <tr>
                <td>
                    <input type="checkbox" class="effect-active" data-effect-type="target"
                        data-effect-index="{{@index}}" data-dtype="Boolean" {{checked effect.active}} />
                </td>
                <td>{{>"systems/ova/templates/parts/effect-inline-desc.html" effect=effect}}</td>
                <td>
                    <input class="effect-duration flex0" type="text" id="duration" data-effect-type="target"
                        data-effect-index="{{@index}}" data-dtype="Number" value="{{effect.duration.rounds}}" />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}

    {{#if target.data.hasResistances}}
    <h2>{{localize 'OVA.ApplyDamageDialog.TargetRestances'}}</h2>
    <table class="ova">
        <thead>
            <tr>
                <th>{{localize 'OVA.Resistance.Name'}}</th>
                <th>{{localize 'OVA.Resistance.Affected'}}</th>
                <th>{{localize 'OVA.Resistance.CanHeal'}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each target.data.resistances as |resistance name|}}
            <tr>
                <td>
                    <b>{{name}} {{signedValue resistance}}</b>
                </td>
                <td class="center">
                    <input type="checkbox" data-res-name="{{name}}" class="affected" data-dtype="Boolean" {{checked (get
                        (get ../resistances name) "affected" )}} />
                </td>
                <td class="center">
                    <input type="checkbox" data-res-name="{{name}}"
                        class="can-heal {{#if (lt resistance 0)}}hidden{{/if}}" data-dtype="Boolean" {{disabled (not
                        (get (get ../resistances name) "affected" ))}} {{checked (get (get ../resistances
                        name) "canHeal" )}} />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <div class="dialog-buttons">
        {{#if (lte rollData.attack.damage 0)}}
        <button class="apply-damage damage-color" data-button="apply">
            Apply Damage <b>({{abs rollData.attack.damage}})</b>
        </button>
        {{else}}
        <button class="apply-damage heal-color" data-button="apply">
            Apply Heal <b>({{abs rollData.attack.damage}})</b>
        </button>
        {{/if}}
    </div>
</form>