<body>
    {{#if (ne type "drama")}}
    <label for="roll-modifier">{{localize 'OVA.Modifier.Name'}}:</label>
    <input id="roll-modifier" class="dialog-input" value="0" data-dtype="Number" />
    {{/if}}
    {{#if enduranceCost}}
    <table class="ova">
        <thead>
            <tr>
                <th>{{localize 'OVA.Endurance.Pool'}}</th>
                <th>Cost ({{enduranceCost}})</th>
            </tr>
        </thead>
        <tbody>
            {{#if (lte actor.data.data.attributes.endurance.value 0)}}
            <tr class="hp clickable {{#if selection.base}}selected{{/if}}">
                <td><b>HP</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.hp.value}}/{{actor.data.data.attributes.hp.max}}</b>
                </td>
            </tr>
            {{else}}
            <tr class="base-end clickable {{#if selection.base}}selected{{/if}}">
                <td><b>Base Endurance</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.endurance.value}}/{{actor.data.data.attributes.endurance.max}}</b>
                </td>
            </tr>
            {{/if}}
            {{#if (ne type "drama")}}
            {{#if (gt actor.data.data.attributes.enduranceReserve.max 0)}}
            <tr class="end-reserve clickable {{#if selection.reserve}}selected{{/if}}">
                <td><b>Endurance Reserve</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.enduranceReserve.value}}/{{actor.data.data.attributes.enduranceReserve.max}}</b>
                </td>
            </tr>
            {{/if}}
            {{/if}}
        </tbody>
    </table>
    {{/if}}
    {{#if advRoll}}
    <h2>Size:</h2>
    {{/if}}
    <div class="end-res clickable dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button {{cssClass}}" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
</body>