<section class="ova">
    {{#if (ne type "drama")}}
    <div class="flex0">
        <label for="roll-modifier">{{localize 'OVA.Modifier.Name'}}:</label>
        <input id="roll-modifier" class="dialog-input" value="0" data-dtype="Number" />
    </div>
    {{#if (ne type "spell")}}
    <table class="ova">
        <thead>
            <tr>
                <th>{{localize 'OVA.Size.Name'}}</th>
                <th>{{localize 'OVA.Modifier.Name'}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="size clickable {{#if (eq sizeSelection 'disadvantage') }}selected{{/if}}"
                data-selection="disadvantage">
                <td><b>{{localize 'OVA.Size.Disadvantage.Name'}}</b></td>
                <td class="center">
                    <b>-5</b>
                </td>
            </tr>
            <tr class="size clickable {{#if (eq sizeSelection 'normal') }}selected{{/if}}" data-selection="normal">
                <td><b>{{localize 'OVA.Size.Normal.Name'}}</b></td>
                <td class="center">
                    <b>0</b>
                </td>
            </tr>
            <tr class="size clickable {{#if (eq sizeSelection 'advantage') }}selected{{/if}}"
                data-selection="advantage">
                <td><b>{{localize 'OVA.Size.Advantage.Name'}}</b></td>
                <td class="center">
                    <b>+5</b>
                </td>
            </tr>
        </tbody>
    </table>
    {{/if}}
    {{/if}}
    {{#if enduranceCost}}
    <table class="ova">
        <thead>
            <tr>
                <th>{{localize 'OVA.Endurance.Pool'}}</th>
                <th>Cost (<span id="endurance-cost" contenteditable>{{enduranceCost}}</span>)</th>
            </tr>
        </thead>
        <tbody>
            {{#if (lte actor.data.data.attributes.endurance.value 0)}}
            <tr class="enduranse-pool clickable {{#if (eq enduranseSelection 'base')}}selected{{/if}}"
                data-selection="base">
                <td><b>HP</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.hp.value}}/{{actor.data.data.attributes.hp.max}}</b>
                </td>
            </tr>
            {{else}}
            <tr class="enduranse-pool clickable {{#if (eq enduranseSelection 'base')}}selected{{/if}}"
                data-selection="base">
                <td><b>Base Endurance</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.endurance.value}}/{{actor.data.data.attributes.endurance.max}}</b>
                </td>
            </tr>
            {{/if}}
            {{#if (ne type "drama")}}
            {{#if (gt actor.data.data.attributes.enduranceReserve.max 0)}}
            <tr class="enduranse-pool clickable {{#if (eq enduranseSelection 'reserve')}}selected{{/if}}"
                data-selection="reserve">
                <td><b>Endurance Reserve</b></td>
                <td class="center">
                    <b>{{actor.data.data.attributes.enduranceReserve.value}}/{{actor.data.data.attributes.enduranceReserve.max}}</b>
                </td>
            </tr>
            {{/if}}
            {{/if}}
        </tbody>
    </table>
    {{/if}}
    {{#if advRoll}}
    <h2>Size:</h2>
    {{/if}}
    <div class="dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button {{cssClass}}" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
</section>