<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'OVA.Name' }}" /></h1>
    </header>
    <h2 class="flavor-header">
        <span>{{ localize 'OVA.Flavor' }}: </span>
        <input name="data.flavor" value="{{item.data.flavor}}"
            placeholder="{{ localize 'OVA.Description' }}" type="text" />
    </h2>
    <nav class="tabs" data-group="primary-tabs">
        <a class="item" data-tab="description" data-group="primary-tabs">{{localize 'OVA.Description'}}</a>
        <a class="item" data-tab="effects" data-group="primary-tabs">{{ localize 'OVA.Effects.Name' }}</a>
    </nav>
    {{!-- Perk Fields --}}
    <section class="ova content">
        <div class="tab" data-tab="description" data-group="primary-tabs">
            <div class="description-tab">
                <div class="description-params">
                    <div class="item-type">
                        <select name="data.type">
                            {{#select data.type}}
                            {{#each config.perkTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="endurance-cost">
                        <span>{{localize 'OVA.EnduranceCost'}}</span>
                        <input type="text" value="{{data.enduranceCost}}" name="data.enduranceCost"
                            data-dtype="Number" />
                    </div>
                    <div class="rule-pg">
                        <span class="rulebook-link">{{localize 'OVA.Page.Short'}}</span>
                        <input name="data.page" value="{{item.data.page}}" type="text" />
                    </div>
                </div>
                <div>
                    <h2>{{ localize 'OVA.Description' }}</h2>
                    <div class="description">
                        {{editor content=item.data.description target="data.description" button=true editable=true}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-tab="effects" data-group="primary-tabs">
            {{> "systems/ova/templates/parts/effects.html" effects=data.effects }}
        </div>
    </section>
</form>