<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="flex3"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'OVA.Name' }}" /></h1>
        {{#if isEmbedded}}
        <div class="item delete-button flex0" data-item-id="{{perk._id}}">
            <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </header>
    <section class="ova content">
        <div>
            <h2>{{ localize 'OVA.Description' }}</h2>
            <textarea name="data.description"
                placeholder="{{ localize 'OVA.Description' }}">{{item.data.description}}</textarea>
        </div>
        <nav class="tabs sheet-tabs" data-group="primary-tabs">
            <a class="item" data-tab="abilities" data-group="primary-tabs">{{localize 'OVA.Ability.NamePlural'}}</a>
            <a class="item" data-tab="spell-effect" data-group="primary-tabs">{{ localize 'OVA.Spell.SpellEffect'}}</a>
        </nav>
        <section class="content">
            <div class="tab selectable" data-tab="abilities" data-group="primary-tabs">
                {{> "systems/ova/templates/parts/ability-list.html" items=abilities selected=selected}}
            </div>
            <div class="tab" data-tab="spell-effect" data-group="primary-tabs">
                {{> "systems/ova/templates/parts/ability-list.html" items=spellEffects}}
            </div>
        </section>
    </section>
</form>