<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="char-sheet-header">
        <img src="systems/ova/public/images/ova-logo.png" class="logo" />
        <div class="character-name-container">
            <input name="name" type="text" class="character-name" value="{{actor.name}}"
                placeholder="{{ localize 'OVA.Name' }}" />
            <div class="flexrow">
                <div>{{ localize 'OVA.CharacterName'}}</div>
                <div class="flex0 center">{{ localize 'OVA.Experience.Short'}}:</div>
                <input name="data.experience.value" type="number" class="experience" value="{{actor.data.data.experience.value}}"
                    placeholder="{{ localize 'OVA.Experience.Name' }}" />
            </div>
        </div>
        <img src="{{actor.img}}" class="character-portrait" data-edit="img" title="{{actor.name}}" height="128"
            width="128" />
    </header>

    <div class="ability-block flexrow">
        <div class="leftbar flexcol flex0">
            <div class="drama-dice-block">
                <div class="title clickable drama-dice-name">
                    {{localize "OVA.Roll.Drama"}}<div class="drama-dice"></div>
                </div>
            </div>
            <div class="drama-dice-name free-drama-dice give-free-dd clickable">Free: {{actor.data.dramaDice.free}}
            </div>
            <div class="drama-dice-name free-drama-dice reset-used-dd clickable">Used: {{actor.data.dramaDice.used}}
            </div>
        </div>
        <div>
            <h3 class="ability-title">{{ localize 'OVA.Ability.NamePlural' }}</h3>
            {{> "systems/ova/templates/parts/ability-list.html" items=abilities selected=selectedAbilities}}
        </div>
        <div>
            <h3 class="ability-title">{{ localize 'OVA.Weakness.NamePlural' }}</h3>
            {{> "systems/ova/templates/parts/ability-list.html" items=weaknesses selected=selectedAbilities}}
        </div>
    </div>
    {{#if data.enduranceReserve.max}}
    <div class="reserve-block">
        <div class="reserve-data center flexrow">
            <div class="combat-cell">
                <div class="combat-cell-name">{{ localize 'OVA.Endurance.Reserve' }}</div>
                <input type="text" class="combat-cell-value" name="data.enduranceReserve.value"
                    value="{{data.data.enduranceReserve.value}}" data-dtype="Number" />
            </div>
            <div class="combat-side-cell">
                <div class="combat-side-value combat-cell-name">Max</div>
                <div class="combat-side-value combat-cell-value">{{ data.enduranceReserve.max }}</div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="combat flexrow">
        <div class="combat-effects">
            <div class="flexrow">
                <h3 class="ability-title">{{localize 'OVA.CombatEffects'}}</h3>
                <span class="add-active-effect clickable">+</span>
            </div>
            <div class="ability-card">
                <div class="ability-list">
                    {{#each actor.data.effects as |effect|}}
                    <div class="effect flexrow item" data-item-id="{{effect.data._id}}">
                        <div class="effect-description">
                            {{> "systems/ova/templates/parts/effect-inline-desc.html" effect=effect.data}}
                            <span class="active-effect-desc">{{effect.duration.label}}</span>
                        </div>
                        <a class="item-control effect-delete flex0" title="Delete Item"><i class="fas fa-minus"></i></a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{> "systems/ova/templates/parts/combat-stats.html" actor=actor attacks=attacks spells=spells}}
    </div>
    <div class="fixed-panel">
        <div class='roll-dice dice'></div>
    </div>
</form>