<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="flex3"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'OVA.Name' }}" /></h1>
        {{#if isEmbedded}}
        <div class="item delete-button flex0" data-item-id="{{perk._id}}">
            <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </header>
    {{!-- Ability Fields --}}
    <section class="ova content">
        <div>
            <h2>{{ localize 'OVA.Description' }}</h2>
            <textarea name="data.description"
                placeholder="{{ localize 'OVA.Description' }}">{{item.data.description}}</textarea>
        </div>
        <div>
            <h2>{{localize 'OVA.LimitedUse.Name'}}</h2>
            <div class="flexrow">
                <input type="text" value="{{data.limitedUse.value}}" name="data.limitedUse.value"
                    data-dtype="Number" />/
                <input type="text" value="{{data.limitedUse.max}}" name="data.limitedUse.max" data-dtype="Number" />
            </div>
        </div>
        <div class="selectable">
            <h2>{{ localize 'OVA.Ability.NamePlural' }}</h2>
            {{> "systems/ova/templates/parts/ability-list.html" items=abilities selected=selected }}
        </div>
        {{> "systems/ova/templates/parts/perk-list.html" perks=perks}}
    </section>
</form>