<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="char-sheet-header">
        <img src="systems/ova/public/images/ova-logo.png" class="logo" />
        <div class="character-name-container">
            <input name="name" type="text" class="character-name" value="{{actor.name}}"
                placeholder="{{ localize 'OVA.Name' }}" />
            <div>{{ localize 'OVA.CharacterName'}}</div>
        </div>
        <img src="{{actor.img}}" class="character-portrait" data-edit="img" title="{{actor.name}}" height="128"
            width="128" />
    </header>

    <div class="ability-block flexrow">
        <div>
            <h3 class="ability-title">{{ localize 'OVA.Ability.NamePlural' }}</h3>
            {{> "systems/ova/templates/parts/ability-list.html" items=abilities selected=selectedAbilities
            type="ability"}}
        </div>
        <div>
            <h3 class="ability-title">{{ localize 'OVA.Weakness.NamePlural' }}</h3>
            {{> "systems/ova/templates/parts/ability-list.html" items=weaknesses selected=selectedAbilities
            type="weakness"}}
        </div>
    </div>
    <div class="combat flexrow">
        <div class="combat-effects">
            <h3 class="ability-title">{{localize 'OVA.CombatEffects'}}</h3>
            <div class="ability-card">
                <div class="ability-list">
                    {{#each actor.data.effects as |effect|}}
                    <div class="ability flexrow item" data-item-id="{{effect.data._id}}">
                        <div class="ability-description">
                            {{effect.data.label}} ({{effect.data.changes.0.key}} {{effect.data.changes.0.value}})
                        </div>
                        <a class="item-control effect-delete flex0" title="Delete Item"><i class="fas fa-minus"></i></a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="combat-block">
            <div class="title flexrow">
                <nav class="combat-tabs" data-group="combat-tabs">
                    <a data-tab="combat-stats" data-group="combat-tabs">{{localize 'OVA.CombatStats'}}</a>
                  | <a data-tab="magic" data-group="combat-tabs">{{localize 'OVA.Magic'}}</a>
                </nav>
                <span class="add-attack">+</span>
            </div>
            <section class="combat-content">
                <div class="list tab" data-tab="combat-stats" data-group="combat-tabs">
                    {{#each attacks as |attack|}}
                    <div class="attack-block flexrow item" data-item-id="{{attack._id}}">
                        <div class="attack-info">
                            <div class="attack-name">{{attack.name}}</div>
                            <div class="attack-perks">{{printPerks attack}}</div>
                            <div class="attack-description">{{attack.data.description}}</div>
                        </div>
                        <div class="combat-cell attack-roll small">
                            <div class="combat-cell-name">{{ localize 'OVA.Roll.Short' }}</div>
                            <div class="combat-cell-value">{{ attack.roll }}</div>
                        </div>
                        <div class="combat-cell attack-damage small">
                            <div class="combat-cell-name">{{ localize 'OVA.DX.Short' }}</div>
                            <div class="combat-cell-value">{{ attack.dx }}</div>
                        </div>
                        <div class="combat-cell attack-notes small">
                            <div class="combat-cell-name">{{ localize 'OVA.Endurance.Short' }}</div>
                            <div class="combat-cell-value">{{ attack.enduranceCost }}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="list tab" data-tab="magic" data-group="combat-tabs">
                    {{#each spells as |spell|}}
                    <div class="attack-block flexrow item" data-item-id="{{spell._id}}">
                        <div class="attack-info">
                            <div class="attack-name">{{spell.name}}</div>
                            <div class="attack-description">{{spell.data.description}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            <div class="stats flexrow">
                <div class="combat-cell">
                    <div class="combat-cell-name">{{ localize 'OVA.Defense.Name' }}</div>
                    <div class="combat-cell-value">
                        {{#each actor.data.defenses as |defense type|}}<span class="defense-value"
                            data-deftype="{{type}}">{{defense}}</span>{{#if (not @last)}}/{{/if}}{{/each}}
                    </div>
                </div>
                <div class="combat-side-cell flex0">
                    {{#if actor.data.armor}}
                    <div class="combat-side-value combat-cell-name">{{ localize 'OVA.Armor.Name'}}</div>
                    <div class="combat-side-value combat-cell-value">{{ actor.data.armor }}</div>
                    {{/if}}
                    {{#if actor.data.resistances.length}}
                    <div class="combat-side-value combat-cell-name">{{ localize 'OVA.Resistance.NamePlural'}}
                    </div>
                    {{#each actor.data.resistances as |name resistance|}}
                    <div class="combat-side-value combat-cell-value">{{name}}: {{resistance}}</div>
                    {{/each}}
                    {{/if}}
                </div>

                <div class="combat-cell flex0">
                    <div class="combat-cell-name">{{ localize 'OVA.Health.Name' }}</div>
                    <input type="text" class="combat-cell-value" name="data.hp.value" value="{{actor.data.hp.value}}"
                        data-dtype="Number" />
                </div>
                <div class="combat-side-cell flex0">
                    <div class="combat-side-value combat-cell-name">Max</div>
                    <div class="combat-side-value combat-cell-value">{{ actor.data.hp.max }}</div>
                </div>
                <div class="combat-cell flex0">
                    <div class="combat-cell-name">{{ localize 'OVA.Endurance.Name' }}</div>
                    <input type="text" class="combat-cell-value" name="data.endurance.value"
                        value="{{actor.data.endurance.value}}" data-dtype="Number" />
                </div>
                <div class="combat-side-cell flex0">
                    <div class="combat-side-value combat-cell-name">Max</div>
                    <div class="combat-side-value combat-cell-value">{{ actor.data.endurance.max }}</div>
                </div>
                <div class="flex1"></div>
            </div>
        </div>
    </div>
    <div class="fixed-panel">
        <div class='roll-dice'></div>
    </div>
</form>