<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'OVA.Name' }}" /></h1>
    </header>
    {{!-- Perk Fields --}}
    <div>
        <table>
            <tr>
                <th>{{ localize 'OVA.Type' }}</th>
                <th>{{ localize 'OVA.EnduranceCost' }}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.perkTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.enduranceCost" type="text" value="{{data.enduranceCost}}" data-dtype="Number"/>
                </td>
            </tr>
        </table>
    </div>
</form>