<div class="abilities">
    <div class="ability-card">
        <div class="ability-list items">
            {{#each items as |item|}}
            <div class="item ability {{#if (contains ../selected item._id)}}selected{{/if}} {{#if item.data.level.mod}}modified{{/if}}"
                data-item-id="{{item._id}}">
                <div class="flexrow">
                    {{abilitySign item}}<div class="ability-level item-view" data-item-id="{{item._id}}">
                        {{item.data.level.total}}
                    </div>
                    <input class="ability-level item-value hidden" name="item-{{item._id}}" data-item-id="{{item._id}}"
                        value="{{item.data.level.value}}" data-dtype="Number" />
                    <div class="ability-description">{{item.name}} {{printPerks item}}</div>
                </div>
            </div>
            <div class="flexcol">
                {{#each item.data.abilities as |subability|}}
                <div class="item sub-ability {{#if (contains ../../selected subability._id)}}selected{{/if}}"
                    data-item-id="{{subability._id}}"">
                    <div class="ability-description">
                        {{abilitySign subability}}{{subability.data.level.total}} {{subability.name}} {{printPerks
                        item}}
                    </div>
                </div>
                {{/each}}
            </div>

            {{/each}}
        </div>
    </div>
    <div class="separator"></div>
</div>