<section class="effects">
    <div class="title">
        <span>{{localize 'OVA.Effects.Name'}}</span>
        <span class="add-effect">+</span>
    </div>
    <div class="effect-list">
        {{#each effects as |effect|}}
        <div class="effect {{#if (eq effect.type 'apply-active-effect')}}active-effect{{else}}apply-changes{{/if}}"
            data-index="{{@index}}">
            <div class="form-group">
                <label>Effect Type:</label>
                <div class="effect-type">
                    <select name="data.effects[{{@index}}].type">
                        {{#select effect.type}}
                        {{#each ../config.effectTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="effect-target">
                    {{#if (eq effect.type "apply-active-effect")}}
                    <select name="data.effects[{{@index}}].target">
                        {{#select effect.target}}
                        {{#each ../config.effectTargets as |name target|}}
                        <option value="{{target}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </div>
                <div class="effect-remove flex0">
                    <i class="fas fa-minus"></i>
                </div>
            </div>
            <div class="form-group">
                <label>Change:</label>
                <div class="effect-key">
                    <select name="data.effects[{{@index}}].key">
                        {{#select effect.key}}
                        {{#if (eq effect.type "apply-active-effect")}}
                        {{#each ../config.activeEffectKeys as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                        {{else}}
                        {{#each ../config.effectChangeKeys as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                        {{/if}}
                        {{/select}}
                    </select>
                </div>
                {{#if (maskedKey effect.key)}}
                <div class="effect-key-value">
                    <input name="data.effects[{{@index}}].keyValue" type="text" value="{{effect.keyValue}}" />
                </div>
                {{/if}}
                <div class="effect-mode flex0">
                    <select name="data.effects[{{@index}}].mode">
                        {{#select effect.mode}}
                        {{#each ../config.activeEffectModes as |name target|}}
                        <option value="{{target}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="effect-value">
                    <input name="data.effects[{{@index}}].value" type="text" value="{{effect.value}}" />
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>