<section class="effects">
    <div class="title">
        <span>{{localize 'OVA.Effects.Name'}}</span>
        <span class="add-effect">+</span>
    </div>
    <div class="effect-list">
        {{#each effects as |effect|}}
        <div class="effect {{#if (eq effect.type 'apply-active-effect')}}active-effect{{else}}apply-changes{{/if}}"
            data-index="{{@index}}">
            <div class="flexrow">
                <label>Effect Type:</label>
                <div class="effect-type flex0">
                    <select name="data.effects[{{@index}}].type">
                        {{#select effect.type}}
                        {{#each ../config.effectTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="effect-target flex0">
                    {{#if (eq effect.type "apply-active-effect")}}
                    <select name="data.effects[{{@index}}].target">
                        {{#select effect.target}}
                        {{#each ../config.effectTargets as |name target|}}
                        <option value="{{target}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </div>
                <div class="effect-remove flex0">
                    <i class="fas fa-minus"></i>
                </div>
            </div>
            <div class="flexrow">
                <label>Change:</label>
                <div class="effect-key flex0">
                    <select name="data.effects[{{@index}}].key">
                        {{#select effect.key}}
                        {{#if (eq effect.type "apply-active-effect")}}
                        {{#each ../config.activeEffectKeys as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                        {{else}}
                        {{#each ../config.effectChangeKeys as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                        {{/if}}
                        {{/select}}
                    </select>
                </div>
                <div class="effect-mode flex0">
                    <select name="data.effects[{{@index}}].mode" data-dtype="Number">
                        {{#select effect.mode}}
                        {{#each ../config.activeEffectModes as |name target|}}
                        <option value="{{target}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flexrow">
                <label>Value:</label>
                <div class="effect-value">
                    <input name="data.effects[{{@index}}].value" type="text" value="{{effect.value}}" />
                </div>
            </div>
            {{#if (eq effect.type "apply-active-effect")}}
            <hr/>
            <div class="flexrow">
                <label>Over Time Effect:</label>
                <div class="over-time-when flex0">
                    <select name="data.effects[{{@index}}].overTime.when">
                        {{#select effect.overTime.when}}
                        {{#each ../config.overTimeModes as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flexrow">
                <div></div>
                <div class="over-time-key flex0">
                    <select name="data.effects[{{@index}}].overTime.key">
                        {{#select effect.overTime.key}}
                        {{#each ../config.overTimeEffect as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="over-time-mode flex0">
                    <select name="data.effects[{{@index}}].overTime.mode" data-dtype="Number">
                        {{#select effect.overTime.mode}}
                        {{#each ../config.activeEffectModes as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flexrow">
                <label>Value:</label>
                <div class="over-time-value">
                    <input name="data.effects[{{@index}}].overTime.value" type="text"
                        value="{{effect.overTime.value}}" />
                </div>
            </div>
            {{/if}}
            <hr/>
            <div class="form-group">
                <label>Priority:</label>
                <div class="effect-priority">
                    <input name="data.effects[{{@index}}].priority" type="text" value="{{effect.priority}}" />
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>